<div class="container">

  <form #cadastro="ngForm">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton #tipo [options]="tiposLancamento"></p-selectButton>
      </div>

      <div class="ui-g-6 ui-fluid">
        <label>Vencimento</label>
        <p-calendar #dataVencimento="ngModel" ngModel name="dataVencimento"
                    dateFormat="dd/mm/yy" [showOnFocus]="false" [locale]="ptbr" [showIcon]="true"
                    required></p-calendar>

        <app-message [control]="dataVencimento" error="required" text="Este campo é obrigatório"></app-message>
      </div>
      <div class="ui-g-6 ui-fluid">
        <label>
          {{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}
        </label>
        <p-calendar #dataPagamento="ngModel" ngModel name="dataPagamento"
                    dateFormat="dd/mm/yy" [showOnFocus]="false" [locale]="ptbr" [showIcon]="true"></p-calendar>
      </div>
      
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input name="descricao" ngModel #descricao="ngModel" pInputText type="text"
               required minlength="5">

        <app-message [control]="descricao" error="required" text="Este campo é obrigatório"></app-message>
        <app-message [control]="descricao" error="minlength" text="Este campo deve conter no mínimo {{descricao.errors?.minlength?.requiredLength}} caracteres"></app-message>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="valor">Valor</label>
        <input id="valor" #valor="ngModel" name="valor" ngModel pInputText type="text"
               currencyMask [options]="moeda" placeholder="R$ 0,00"
               required>

        <app-message [control]="valor" error="required" text="Este campo é obrigatório"></app-message>
      </div>
  
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown name="categoria" #categoria="ngModel" ngModel required
                    [options]="categorias" placeholder="Selecione" [autoWidth]="false"></p-dropdown>

        <app-message [control]="categoria" error="required" text="Este campo é obrigatório"></app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" #pessoa="ngModel" ngModel required
                    [options]="pessoas" placeholder="Selecione" [autoWidth]="false"></p-dropdown>

        <app-message [control]="pessoa" error="required" text="Este campo é obrigatório"></app-message>
      </div>
  
      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea name="observacao" #observacao="ngModel" ngModel
                  pInputTextarea rows="3"></textarea>
      </div>
  
      <div class="ui-g-12">
        <button pButton type="submit" [disabled]="cadastro.invalid" label="Salvar" class="btn-form"></button>
        <button pButton type="button" [disabled]="true" type="button" label="Novo" class="btn-form ui-button-info"></button>
        <a href="#">Voltar para a pesquisa</a>
      </div>

    </div> <!-- ui-g -->
  </form>
</div>
