<div class="container">
    <div class="ui-g">
  
      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>
  
      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" />
      </div>
  
      <div class="ui-g-12">
        <label style="display: block">Vencimento</label>
        <input class="date-input" pInputText type="text" />
  
        <label style="margin: 0 5px">até</label>
        <input class="date-input" pInputText type="text" />
      </div>
  
      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </div>
  
    <div class="ui-g">
      <div class="ui-g-12">
        <p-dataTable [value]="lancamentos" tableStyleClass="tabela" [paginator]="true" [rows]="2"
               [responsive]="true">
          <p-column field="pessoa" header="Pessoa"></p-column>
          <p-column field="descricao" header="Descrição"></p-column>
          <p-column field="dataVencimento" header="Vencimento" styleClass="col-data"></p-column>
          <p-column field="dataPagamento" header="Pagamento" styleClass="col-data"></p-column>
          <p-column field="valor" header="Valor" styleClass="col-valor">
            <ng-template pTemplate="body" let-l="rowData">
              <span [style.color]="l.tipo == 'DESPESA' ? 'red' : 'blue'">{{l.valor}}</span>
            </ng-template>
          </p-column>
          <p-column styleClass="col-acoes">
            <ng-template pTemplate="body">
              <button pButton pTooltip="Editar" tooltipPosition="top" icon="fa fa-pencil" aria-label="editar lançamento" class="btn-acao" style="margin-right: 7px"></button>
              <button pButton pTooltip="Excluir" tooltipPosition="top" icon="fa fa-trash" aria-label="excluir lançamento" class="btn-acao"></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
  
      <div class="ui-g-12">
        <button pButton type="submit" label="Novo lançamento"></button>
      </div>
    </div>
  </div>