<div class="container">

  <form #form="ngForm">

    <div class="ui-g">
  
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>
  
      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input name="nome" ngModel #nome="ngModel" pInputText type="text"
        required minlength="5">

        <app-message [control]="nome" error="required" text="Este campo é obrigatório"></app-message>
        <app-message [control]="nome" error="minlength"
          text="Este campo deve conter no mínimo {{nome.errors?.minlength?.requiredLength}} caracteres"></app-message>
      </div>
  
      <div class="ui-g-12">
        <h2>Endereços</h2>
      </div>
  
      <div class="ui-g" *ngFor="let e of enderecos; let i = index">
        <div class="ui-g-6 ui-md-6">
          <h3>Endereço {{i+1}}</h3>
        </div>
        <div class="ui-g-6 ui-md-6">
          <button pButton label="X"
          (click)="removerEndereco(i)"></button>
        </div>
  
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Logradouro</label>
          <input pInputText type="text">
        </div>
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Número</label>
          <input pInputText type="text">
        </div>
  
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Complemento</label>
          <input pInputText type="text">
        </div>
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Bairro</label>
          <input pInputText type="text">
        </div>
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>CEP</label>
          <p-inputMask mask="99999-999"></p-inputMask>
        </div>
  
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Cidade</label>
          <input pInputText type="text">
        </div>
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Estado</label>
          <input pInputText type="text">
        </div>
      </div>
  
      <div style="margin-bottom: 10px" class="ui-g-12 ui-fluid">
        <button pButton label="Adicionar endereço"
        (click)="adicionarEndereco()"></button>
      </div>
  
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"
                class="btn-form" [disabled]="form.invalid"></button>
        <button pButton [disabled]="true" type="button" label="Novo" class="btn-form ui-button-info"></button>
        <a href="#">Voltar para a pesquisa</a>
      </div>
  
    </div> <!-- ui-g -->
  </form>

</div>