<div class="container">
  <nav class="navbar">
    <div class="ui-g">
      <div class="ui-g-12">
        <button class="navbar__toggle" pButton icon="fa fa-bars" aria-label="Exibir ou ocultar menu"
              (click)="showMenu = !showMenu"></button>
      </div>
    </div>
  
    <ul class="navbar__menu" [hidden]="!showMenu">
      <li class="navbar__usuario">Usuário logado</li>
      <a class="navbar__menu-item--link">
        <li class="navbar__menu-item" aria-label="Lançamentos"
            routerLink="/lancamentos" routerLinkActive="navbar__menu-ativo">Lançamentos</li>
      </a>
      <a class="navbar__menu-item--link">
        <li class="navbar__menu-item" aria-label="Pessoas"
            routerLinkActive="navbar__menu-ativo" routerLink="/pessoas">Pessoas</li>
      </a>
      <a class="navbar__menu-item--link" href="#">
        <li class="navbar__menu-item">Logout</li>
      </a>
    </ul>
  </nav>
</div>
