<div class="ui-g-12">
  <p-dataTable [styleClass]="'tabela'" [value]="pessoas" [paginator]="true" [rows]="2" [responsive]="true">
    <p-column field="nome" header="Nome"></p-column>
    <p-column field="cidade" header="Cidade"></p-column>
    <p-column field="estado" header="Estado"></p-column>
    <p-column field="ativo" header="Situação">
      <ng-template pTemplate="body" let-p="rowData">
        <span pTooltip="{{p.ativo ? 'Desativar' : 'Ativar'}}" tooltipPosition="top">
          <a class="normal-link" href="#" [style.color]="p.ativo ? 'blue' : 'red'">
            {{p.ativo ? "Ativo" : "Inativo"}}
          </a>
        </span>
      </ng-template>
    </p-column>
    <p-column styleClass="col-acoes">
      <ng-template pTemplate="body">
        <button pButton pTooltip="Editar" tooltipPosition="top" icon="fa fa-pencil" aria-label="editar pessoa" class="btn-acao" style="margin-right: 7px"></button>
        <button pButton pTooltip="Excluir" tooltipPosition="top" icon="fa fa-trash" aria-label="excluir pessoa" class="btn-acao"></button>
      </ng-template>
      </p-column>
  </p-dataTable>
</div>